# Application
web/app/*

# Config
config/server/nginx/certs/*
!config/server/nginx/certs/.gitkeep

# WordPress
web/wp
web/.htaccess
web/nginx.conf

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml
